*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: poppins;
    src: url(Poppins-Bold.ttf);
}
body{
    border: none;
}
.background{
    /* background: #611f69; */
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
}
/* nav-bar */
.row{
    width: 85%;
    height: 80px;
    background-color:#ffff;
    margin-left: 125px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.row img{
    margin-left: 50px;
    width: 120px;
}
.row .nav-bar a{
    font-size: 18px;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    margin-right: 8px;
}
.product:after{
       content: "";
       position: absolute;
       background-color: #ff3c78;
       height: 2px;
       width: 0px;
       left: 210px;
       top: 50px;
       transition: 0.3s;
}
.product:hover{
    color: indigo;
}
.product:hover::after{
    width: 65px;
}
.solutions:after{
      content: "";
      position: absolute;
      background-color: #ff3c78;
      height: 2px;
      width: 0px;
      left: 305px;
      top: 50px;
      transition: 0.3s;
}
.solutions:hover{
    color: indigo;
}
.solutions:hover::after{
    width: 75px;
}
.interprise::after{
      content: "";
      position: absolute;
      background-color: #ff3c78;
      height: 2px;
      width: 0px;
      left: 410px;
      top: 50px;
      transition: 0.3s;
}
.interprise:hover{
    color: indigo;
}
.interprise:hover::after{
    width: 80px;
}
.resources::after{
    content: "";
      position: absolute;
      background-color: #ff3c78;
      height: 2px;
      width: 0px;
      left: 518px;
      top: 50px;
      transition: 0.3s;
}
.resources:hover{
    color: indigo;
}
.resources:hover::after{
    width: 85px;
}
#pricing{
    margin-right: 200px;
}
#pricing::after{
    content: "";
      position: absolute;
      background-color: #ff3c78;
      height: 2px;
      width: 0px;
      left: 635px;
      top: 50px;
      transition: 0.3s;
}
#pricing:hover{
    color: indigo;
}
#pricing:hover::after{
    width: 60px;
}
.sign-in::after{
    content: "";
      position: absolute;
      background-color: #ff3c78;
      height: 2px;
      width: 0px;
      left: 920px;
      top: 50px;
      transition: 0.3s;
}
.sign-in:hover{
    color: indigo;
}
.sign-in:hover::after{
    width: 55px;
}

#talk {
    border: 1px solid black;
    padding: 8px;
    margin-right: 15px;
    border-radius: 4px;
}
#free{
    border: 1px solid black;
    padding: 8px;
    margin-right: 15px;
    background-color: blueviolet;
    color: #fff;
    margin-right: 30px;
    border-radius: 4px;
}
.main{
    width: 100%;
    height: 450px;
    background-color: #ffff;
    margin-top: 100px;
    text-align: center;
}
.h1{
    text-align: center;
    color: black;
    padding-top: 120px;
    font-family: sans-serif;
    font-size: 60px;
}
.client{
    color: #ff3c78;
    /* padding-top: 50px; */
}
.first-p{
    font-family: sans-serif;
    font-size: 19px;
    padding-top: 20px;
}
.recorded-button{
    font-size: 22px;
    background-color:#611f69;
    color: white;
    text-align: center;
    border: none;
    padding: 9px 2px 13px 2px;
    border-radius: 3px;
    margin: 20px 5px 0px 0px;
    transition: 1s;
    border: 1px solid blueviolet;
}
.recorded-button:hover{
    transform: scale(0.9);
}
.contact-button{
    font-size: 15px;
    background-color: white;
    color:blueviolet;
    text-align: center;
    border: none;
    padding: 15px 25px 15px 25px;
    border-radius: 3px;
    margin-top: 20px;
    font-weight: bold;
    transition: 1s;
    border: 1px solid black;
}
.contact-button:hover{
    transform: scale(0.9);
}
.raised{
    position: absolute;
    top: 150px;
    left: 140px;
}
.tada{
    position: absolute;
    top: 350px;
    left: 140px;
}
.clap{
    position: absolute;
    top: 430px;
    left: 370px;
}
.check{
    position: absolute;
    top: 320px;
    right: 340px;
}
.duck{
    position: absolute;
    top: 400px;
    right: 200px;
}
.target{
    position: absolute;
    top: 180px;
    right: 140px;
}
.second-main{
    width: 100%;
    height: 820px;
    background-color: #f4ede4;
}
.image{
    position: absolute;
    right: 160px;
    top: 520px;
}
.second-p{
    width: 600px;
    height: 160px;
    /* border: 1px solid red; */
    padding: 30px 0px 0px 30px;
    position: absolute;
    top: 660px;
    left: 150px;
}
.third-p{
    font-family: sans-serif;
    font-size: 18px;
    line-height: 25px;
}
.kinds-team{
    font-family: sans-serif;
    padding-bottom: 20px;
}
.third-main{
    width: 1000px;
    height: 600px;
    /* border: 1px solid red; */
    position: absolute;
    top: 820px;
    left: 150px;

}
.box001{
    width: 300px ;
    height: 250px;
    /* border: 1px solid red; */
    float: left;
    margin: 10px 0px 0px 30px;
    transition: 1s;
    background-color: white;
}
.box001:hover{
    transform: scale(1.03);
}
h3{
    font-family: sans-serif;
    padding: 20px 0px 0px 14px;
}
a{
    text-decoration: none;
    color:black;
}
.four-p{
    font-family: sans-serif;
    padding: 10px 0px 0px 14px;
    font-size: 20px;
}
a:hover{
    text-decoration: none;
    color:darkblue;
}
.computer{
    width: 70px;
    padding: 20px 0px 0px 14px;
}

.box002{
    width: 300px ;
    height: 250px;
    /* border: 1px solid red; */
    float: left;
    margin: 10px 0px 0px 10px;
    transition: 1s;
    background-color: white;
}
.box002:hover{
    transform: scale(1.03);
}
.box003{
    width: 300px ;
    height: 250px;
    /* border: 1px solid red; */
    float: left;
    margin: 10px 0px 0px 10px;
    transition: 1s;
    background-color: white;
}
.box003:hover{
    transform: scale(1.03);
}
.box004{
    width: 300px ;
    height: 260px;
    /* border: 1px solid red; */
    float: left;
    margin: 10px 0px 0px 30px;
    transition: 1s;
    background-color: white;
}
.box004:hover{
    transform: scale(1.03);
}
.box005{
    width: 300px ;
    height: 125px;
    /* border: 1px solid red; */
    float: left;
    margin: 10px 0px 0px 10px;
    transition: 1s;
    background-color: white;
}
.box005:hover{
    transform: scale(1.03);
}
.box006{
    width: 300px ;
    height: 125px;
    /* border: 1px solid red; */
    float: left;
    margin: 10px 0px 0px 10px;
    transition: 1s;
    background-color: white;
}
.box006:hover{
    transform: scale(1.03);
}
.box007{
    width: 300px ;
    height: 125px;
    /* border: 1px solid red; */
    float: left;
    margin: 10px 0px 0px 10px;
    transition: 1s;
    background-color: white;
}
.box007:hover{
    transform: scale(1.03);
}
.box008{
    width: 300px ;
    height: 125px;
    /* border: 1px solid red; */
    float: left;
    margin: 10px 0px 0px 10px;
    transition: 1s;
    background-color: white;
}
.box008:hover{
    transform: scale(1.03);
}
.companies{
    width: 100%;
    height: 550px;
    background-color: #f4ede4;
    /* border: 1px solid red; */
}
.kinds{
    position: absolute;
    left: 180px;

}
.second-pe{
    /* border: 1px solid red; */
    width: 600px;
    height: 130px;
    position: absolute;
    left: 850px;
    top: 1530px;
}
.third-on{
    /* border: 1px solid red; */
    width: 980px;
    height: 300px;
    position: absolute;
    left: 470px;
    top: 1660px;
}
.fourth-on{
    width: 100%;
    height: 600px;
    background-color: #f4ede4;
    /* border: 1px solid red; */
}
.amazing-pic{
    position: absolute;
    right: 130px;
}
.second-per{
    width: 600px;
    height: 130px;
    position: absolute;
    left: 200px;
    top: 2130px;
}
.third-box{
    /* border:  1px solid red; */
    height: 300px;
    width: 840px;
    position: absolute;
    top: 2250px;
    left: 170px;
}
.footer{
    width: 100%;
    height: 650px;
    background-color:#fff;
}
.footer .col{
    width: 100%;
    height: 130px;
}
.col #deeper{
    font-family: sans-serif;
    text-align: center;
    padding-top: 70px;
    font-size: 32px;
}
/* box */
.box{
    max-width: 285px;
    min-height: 420px;
    background-color: #ffff;
    margin: 30px 5px 50px 170px;
    float: left;
    transition:transform 420ms;
    flex-direction: column;
    z-index: 1;
}
.box:hover{
    transform: translateY(-5px);
}
.box img{
    padding: 14px;
}
#solution{
    text-decoration: none;
    font-weight: 400;
    margin: 8px 0 0 13px; 
    color:#454245;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;

}
#can{
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif; 
    padding: 5px 3px 30px 13px;
    color: #000;
    font-weight: 700;
    line-height: 30px;
    font-size: 22px;
}

#explore{
    text-transform: uppercase;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  
    padding-left: 13px;
}
.left-arrow img{
    width: 55px;
    position: absolute;
    margin-left: 35px;
    top: 3794px;
    margin-top: 0px;
    color: blue;
}

/* box1 */
.box1{
    max-width: 285px;
    min-height: 420px;
    background-color: #ffff;
    margin: 30px 5px 50px 20px;
    float: left;
    transition:transform 420ms;
    flex-direction: column;
    z-index: 1;
}
.box1:hover{
    transform: translateY(-5px);
}
.box1 img{
    padding: 14px;
}
#solution{
    text-decoration: none;
    font-weight: 400;
    margin: 8px 0 0 13px; 
    color:#454245;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
h3 #can{
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif; 
    padding: 5px 20px 85px 13px;
    color: #000;
    font-weight: 800;
    line-height: 30px;
    font-size: 27px;
}
#explore{
    text-transform: uppercase;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    padding-left: 13px;
}
/* box2 */
.box2{
    max-width: 285px;
    min-height: 420px;
    background-color: #ffff;
    margin: 30px 5px 50px 20px;
    float: left;
    transition:transform 420ms;
    flex-direction: column;
    z-index: 1;
}
.box2:hover{
    transform: translateY(-5px);
}
.box2 img{
    padding: 14px;
}
#solution{
    text-decoration: none;
    font-weight: 400;
    margin: 8px 0 0 13px; 
    color:#454245;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
#can{
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif; 
    padding: 5px 3px 85px 13px;
    color: #000;
    font-weight: 700;
    line-height: 30px;
    font-size: 22px;
}
#explore{
    text-transform: uppercase;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    padding-left: 13px;
}
/* box3 */
.box3{
    max-width: 285px;
    min-height: 420px;
    background-color: #ffff;
    margin: 30px 5px 50px 20px;
    float: left;
    transition:transform 420ms;
    flex-direction: column;
    z-index: 1;
}
.box3:hover{
    transform: translateY(-5px);
}
.box3 img{
    padding: 14px;
}
#solution{
    text-decoration: none;
    font-weight: 400;
    margin: 8px 0 0 13px; 
    color:#454245;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
#can{
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif; 
    padding: 5px 3px 85px 13px;
    color: #000;
    font-weight: 700;
    line-height: 30px;
    font-size: 22px;
}
#explore{
    text-transform: uppercase;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    padding-left: 13px;
}
/* Companies logos */
.icon{
    width: 100%;
    height: 130px;
    margin: 60px 40px 0px 0px;
    text-align: center;
    background-color: #fff;
}
.icon img{
    padding: 12px;
}
.hr-rows{
    width: 100%;
    height: 900px;
    /* background-color: #ff3c78; */
    margin-top: 550px;
}
.down-arrow{
    position: absolute;
    top: 3570px;
    right: 200px;
}
.down-arro{
    position: absolute;
    top: 3700px;
    right: 200px;
}
.down-arr{
    position: absolute;
    top: 3820px;
    right: 200px;
}
.down-ar{
    position: absolute;
    top: 3940px;
    right: 200px;
}
.down-a{
    position: absolute;
    top: 4060px;
    right: 200px;
}
.asked{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}
.first-hr{
   
    width: 77%;
    margin: 70px 0px 0px 200px;
}
.h3{
    font-family: sans-serif;
    margin:10px 0px 0px 200px;
}
.bg-color{
    background-color:darkslateblue;
    width: 100%;
    height: 350px;
    text-align: center;
}
.digital{
    font-size: 50px;
    color: #ffff;
    font-family: sans-serif;
   
    padding-top: 130px;
}

#try-for-free{
    margin-top: 30px;
    padding: 18px 35px 18px 35px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 3px;
    /* border: none; */
    font-weight: bold;
}
#try-for-fre{
    margin-top: 30px;
    padding: 17px 35px 17px 35px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    background-color: darkslateblue;
    border: 1px solid white;
    color: #fff;
}
/* .bottom-footer */
.bottom-footer{
    width: 100%;
    height: 450px;
    line-height: 50px;
}
.box20{
    width: 200px;
    min-height: 400px;
    float: left;
    margin: 15px 3px 3px 100px;
    
}
.box20 img{
    width: 70px;
    padding-top: 50px;
    margin-left: 40px;
}
.box21{
    width: 200px;
    min-height: 400px;
    float: left;
    margin: 15px 3px 3px 15px; 
}
.box22{
    width: 200px;
    min-height: 400px;
    float: left;
    margin: 15px 3px 3px 15px;
}
.box23{
    width: 200px;
    min-height: 400px;
    float: left;
    margin: 15px 3px 3px 15px;
}
.box24{
    width: 200px;
    min-height: 400px;
    float: left;
    margin: 15px 3px 3px 15px;
}
.box25{
    width: 200px;
    min-height: 400px;
    float: left;
    margin: 15px 3px 3px 15px;
    
}
#why-slack{
    font-family: sans-serif;
    padding-top: 40px;
    padding-left: 20px;
}
p{
    padding-left: 20px;
    font-family: sans-serif;
}
.slack-vs-email {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    padding-left: 20px;

} 
.slack-vs-email:hover{
    color: blue;
}
/* second-bottom-footer */
#line{
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #454245;
}
.contact-us{
    width: 100%;
    height: 100px;
    font-family: sans-serif;
    font-weight: bold;
}
.some-contact{
    margin-left: 194px;
    text-decoration: none;
    padding-right: 15px;
    color: #000;
}
.privacy{
    text-decoration: none;
    padding-right: 15px;
    color: #000;
}
.terms{
    text-decoration: none;
    padding-right: 15px;
    color: #000;
}
.cookie{
    text-decoration: none;
    padding-right: 15px;
    color: #000;
}
.us{
    text-decoration: none;
    padding-right: 15px;
    color: #000;
}
.change{
    text-decoration: none;
    padding-right: 15px;
    color: #000;
}
.select{
    background: none;
    border: none;
}
.all-rights{
    padding: 50px 0px 0px 190px;
    font-weight: normal;
}
.twiter{
    width: 120px ;
    position: absolute;
    right: 180px;
    top: 5200px;
}
.cloud{
    position: absolute;
    top: 5195px;
    right: 470px;
    width: 40px;
    /* border: 1px solid rebeccapurple; */
}
#download-slack{
    position: absolute;
    top: 5210px;
    right: 340px;
    color: blue;
}

